h1{ 
    color: darkblue;background-color: bisque;
}
div{
    height: 200px;
    background: linear65-gradient(red,orange,yellow
     );
     font-style: italic
     ;
}
body {
    background-color: chartreuse;
}